*{
	margin:0px;
	padding:0px;
	font-family: 'Roboto', sans-serif;
}
h1{
	color:#7c7c75;
	text-align:center;
	padding-top:20px;
}

#header{
	width:1200px;
	height:60px;
	box-shadow:0px 3px 5px #000;
	position:fixed;
	top:0px;
	background-color:#d1d1af;
	z-index:5;
}

a.iks{
	font-size:45px;
	color:#000;
	text-decoration:none;
	padding:20px; 
	position:absolute;
	top:-30px;
	
	margin-left:10px;
	font-family: 'Charmonman', cursive;
	
}
#logo{
	float:left;
	margin-top:3px; 
	margin-left:70px;
	height:inherit;
	text-align:center;
	position:relative;
	
}
#meni{
	float:right;
	
}
#meni ul{
	list-style-type:none;
	
	
}
#meni ul li{
	display:inline-block;
	/* margin-right:15px; */
	margin-top:23px;
	/* border-right:2px solid ; */
	
	
	
}
#meni ul li:last-child{
	border-right:none;
}
a{
	text-decoration:none;
	
}
#meni ul li a{
	
	color:#000;
	padding:24px 15px 18px 15px;
	font-size:15px;
	margin-right:15px;
	/* font-variant:small-caps; */
}

#meni ul li a:hover{
	
	color:red;
	transition:color 0.2s;
	
}
#meni ul li a.aktivan{
	
	background-color:#ededd5;
	border-top:1px solid;
	box-sizing:border-box;
	/* transition:background 0.3s; */
	
}






























.bezPozadine{
	width:100%; 
	min-height:650px; 
	background-color:#ededd5;
	/* border:1px solid; */
	
	
}
#gornjiDeoBezPozadine{
	width:100%;
	background-color:#d1d1af;
	height:400px;
	/* border:1px solid; */
}

.saPozadinom{
	width:100%; /*1280px*/
	min-height:800px;
	
}
.Gore{
	background-image:url("../img/slika5.jpg");
	background-repeat:no-repeat;
	background-size:cover; 
	background-position:-200px ;
	margin-top:60px;
	/* background-attachment:fixed;   */
}
.Dole{
	background-color:#d1d1af;
}
#tekst{
	/* border:1px solid blue;  */
	position:absolute; 
	left:110px;  /* 310 */ 
	top:240px;	/* 300 */ 
	padding:40px;	/* 40 */
	height:250px;
	width:70%;
	background-color:rgba(133,135,137, 0.3);
	
}
#tekst p{
	font-size:37px;
	color:white;
	line-height:1.1;
	text-align:center;
}
#tekst a{
	text-align:center;
	padding:20px 0px;
	/* border:1px solid black; */
	border-radius:3px;
	border:1px dotted black;
	font-size:20px;
	margin:30px auto;
	width:170px; 
	background-color:rgba(175,175,158,0.5);
	position:absolute;
	left:280px;
	bottom:0px;
	text-decoration:none;
	color:#fff;
	padding:15px;

}


#tekst h1{
	margin-bottom:50px;
	color:#fff;
	text-align:center;
}
#tekst span{
	color:#eaeac0;
	font-weight:bold;
	letter-spacing:5px;

}


















#radnoVreme{
	/* background-color:#ededd5; */
	width:100%;
	margin-top:80px;
	margin-left:auto;
	margin-right:auto;
	/* border:1px solid; */
	height:225px;
}
#radnoVreme p:only-of-type{ 
	 text-align:center;
	 margin:0px auto;
	 width:60%;
	 /* border:1px solid;  */
	
 }
#radnoVreme .dani p{
	font-size:30px;
	font-weight:bold;
	text-align:center;
	color:#7c7c75;
}
#radnoVreme .dani p:last-child{
	font-size:15px;
	font-weight:normal;
	margin-top:5px;
	color:#000;
}
.dani{
	/* border:1px dotted ; */
	background-color:#d1d1af;
	width:10%;
	height:70px; 
	display:inline-flex;
	justify-content:space-around;
	flex-wrap:wrap;
	margin-top:60px;
	margin-left:35px;
	

}


























h2{
	color:#7c7c75;
	text-align:center;
	padding-top:30px;
}
h5{
	color:#7c7c75;
	text-align:center;
	padding-top:10px;
}
#usluge{
		/* border:1px solid red; */
		display:inline-flex;
		justify-content:space-around;
		flex-wrap:wrap;
		width:100%;
		margin-left:auto;
		margin-right:auto;
}
#usluge p{
	text-align:center;
}
#gornjiDeobezPozadine{
	width:100%;
	min-height:60%;
	background-color:red;
	border:1px solid red;
	z-index:5;
}


.usluga{
	height:170px;
	border-radius:100px;
	width:170px;
	/* display:inline-block; */
	background-image:url(../img/ikonice.jpg);
	margin-left:50px;
	margin-top:50px;
}

.sisanje{
	background-position:-33px -220px;
}
.brijanje{
	background-position:-33px -50px;
}
.farbanje{
	background-position:-228px -395px;
}
.ciscenjeLica{
	background-position:-423px -395px;
}
h3{
	margin-top:200px;
	margin-left:50px;
	/* border:1px solid; */
}
#usluge .ciscenjeLica h3{
	margin-left:35px;
}
.opisUsluge{
	width:100%;
	min-height:100px;
	/* border:1px solid red; */
}
.opisUsluge p{
	/* border:1px solid blue; */
	/* text-align:justify; */
	font-size:15px;
	
}





















.stajlista{
	width:300px;
	height:500px;
	display:inline-block;
	/* border:1px dotted ; */
	margin-left:10px;
	margin-top:60px;
	position:relative;
}
.prvi{
	background-image:url("../img/PS.jpg");
	background-repeat:no-repeat;
	background-size:cover; 
	background-position:-30px -70px;
}
.drugi{
	background-image:url("../img/DS.jpg");
	background-repeat:no-repeat;
	background-size:cover; 
	background-position:-30px 0px; 
}
.treci{
	background-image:url("../img/TS.jpg");
	background-repeat:no-repeat;
	background-size:330px ; 
	background-position:-20px 0px;
}
.donjiDeo{
	width:100%;
	height:100px;
	/* border:1px dotted;  */
	position:absolute;
	bottom:0px;
	background-color:#e2e2bc;
}
.donjiDeo p{
	text-align:center;
	margin:40px;
}
















#footer{
	width:100%;
	height:150px;
	background-color:#eaedf2;
	
}
#footer #autor{
	width:25%;
	padding-top:10px;
	text-align:center;
	margin:0px auto;
}

#footer a{
	color:#000;
}
#footer a:hover{
	text-decoration:underline;
}
#autor p{
	margin-top:10px;
}
#drustveneMreze{
	/* position:absolute; */
	width:26%;
	/* right:400px; */
	/* top:75px; */
	margin:0px auto;
	padding-top:20px;
	 /* border:1px solid blue;  */
}
.fab,.fas{
	margin-left:15px;
}
.mreza{
	width:20%;
	/* border:1px solid red; */
	margin-top:10px;
	min-height:50px;
	float:right;
	display:inline-block;
	margin-right:10px;
	background-image:url("../img/drustveneMreze.jpg");
}
.Facebook{
	background-position:-149px -134px;
}
.Instagram{
	background-position:-629px -457px;
}
.Twitter{
	background-position:-269px -133px;
}
.Rss{
	background-position:-510px -457px;
}
#copyright{
	width:40%;
	/* border:1px solid red; */
	position:absolute;
	top:38px;
}






.okvir{
	width:950px;
	height:100%;
	margin:0px auto;
	position:relative;
	/* box-sizing:border-box; */
	/* border:1px solid yellow;  */
	
}
#celaStrana{
	width:1200px;
	margin:0px auto;
}
.cistac{
	clear:both;
}

																				/* TERMIN */


 #bezPozadine{ 
	 margin-top:60px; 
	 width:100%; 
	 min-height:740px; 
	 background-color:#ededd5;	 
	 position:relative; 
 } 
 #bezPozadine #tabelaTermin{ 
	 /* position:absolute;  */
	 /* left:100px;  */
	 /* bottom:150px;  */
	 color:#7c7c75; 
	 font-size:25px;
 } 
 #bezPozadine #tabelaTermin input[type="text"],input[type="date"],input[type="time"],select{ 
	 padding:15px;  
	 padding-right:20px; 
	 width:220px;
 } 
 #bezPozadine #tabelaTermin input[type="submit"]{ 
	 cursor:pointer; 
	 width:100%;
	 padding:15px;
	 font-size:17px; 
	 font-weight:normal;	
	 transition:.5s;
	 
 }
 #bezPozadine #tabelaTermin input[type="submit"]:hover{
	 letter-spacing:10px;
 }
 #bezPozadine #tabelaTermin input[type="date"]{
	margin-bottom:5px;
}
 #bezPozadine #tabelaTermin input[type="time"]{
	margin-top:15px;
}
#okvirTermin{
	width:95%; 
	/* border:1px solid;  */
	margin:0px auto;
	padding-top:100px;
	
}
#forma{
	display:block;
	float:left;
	/* border:1px solid;  */
}
#tekstZaFormu{
	display:block;
	float:right;
	/* border:1px solid red;  */
	margin-right:5px;
	margin-top:200px;
	
}
#tekstZaFormu p{
	text-align:center;
	font-size:18px;
	padding:5px 0 5px 0;
	
}
																	/* GALERIJA */
#slike {
	width:80%;
	display:flex; 
	justify-content:space-around; 
	flex-wrap:wrap; 
	min-height:300px;
	/* border:1px solid;   */
	margin:0px auto;
	padding-bottom:50px;
}
.slika {
	/* display:block; */
	/* float:left; */
		width:45%;  /*455px */
		min-height:250px; 
		position:relative;
		overflow:hidden;  
	/* margin-left:30px; */
		margin-top:25px; 
	/* border-left:1px solid; */
	/* border-right:1px solid; */
	
	/* border:1px solid red; */
}
.deveta,.deseta{
	margin-left:20px; 
}
.deseta{
	margin-left:35px;
}
.hoverBlock {
	position:absolute;
	top:-100%;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(209, 209, 175, 1);
	transition: .7s;
	
}
.hoverBlock h3{
	position:absolute;
	top:-33%;
	left:25%;
	color:#7c7c75;
	font-family:arial;
}
.slika:hover .hoverBlock{
	top:0%;
	transform: rotate(360deg);
	
}
.slika img{
	transform:scale(1.01);
}
.naslovi{
	text-align:center;
	margin:0;
}




																		/* KONTAKT */
#okvirKontakt{
	width:95%;
	min-height:500px;
	margin:0px auto;
	/* border:1px solid; */
	padding-top:100px;
	

}																
#formaKontakt{
		display:block;
		float:left;
		 /* border:1px solid red;  */
}																	
#opisKontakt{
		display:block;
		float:left;
		/* border:1px solid yellow;  */
		padding-left:50px;
		width:500px;
		text-align:justify;
		padding-top:120px;
		
}

#opisKontakt p{
	font-size:20px;
	line-height:1.5;
}
#opisKontakt p:nth-child(2){
	padding-bottom:20px;
}																	
#formaKontakt,#opisKontakt{
	/* margin-left:15px; */
}
#formaKontakt input,textarea{
	width:500px;
	min-height:40px;
	padding:20px;
}			
#formaKontakt textarea{
	min-height:200px;
}
#formaKontakt input[type="submit"]{
	cursor:pointer;
	text-transform:uppercase;
	width:100%;
	transition:.5s;
	
}
#formaKontakt input[type="text"]:focus,input[type="email"]:focus,textarea:focus{

	transform:scale(1.05);
	transition:.5s;
	
}
#formaKontakt input[type="submit"]:hover{
	letter-spacing:10px;
}	















	
																		/* O NAMA */
.tekstOnama1{
	width:90%;
	min-height:50px;
	margin:0px auto;
	padding-top:30px;
	/* border:1px solid red; */
	
}
.tekstOnama1 p{
	padding:25px;
}
.tim{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	/* border:1px solid; */
}
#team{
	/* border:1px solid; */
	width:100%;
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	margin-top:50px;
}											
.tim p {

	text-align:center;

	
}
.tim p b{
	color:#7c7c75;
}																	
#tekstOnama2{
	width:90%;
	min-height:50px;
	/* border:1px solid; */
	
}																	
#tekstOnama2 p{
	margin-left:120px;
	text-align:center;
	margin-top:70px;
	font-weight:bold;
	font-size:20px;
	color:#7c7c75;
}																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	

